.profile{
    width:100px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.title{
    text-align: center;
    font-size:16px
}

/*스타일 우선순위  : 인라인style -> id -> class -> tag*/
p {
    color : red; /*꼴등*/
}
#content {
    color : grey; /* 우선2*/
}
.semi-title { /* 우선3*/
    text-align: center;
    color : blue
}