p, h5{
    margin:0;
}
.wrapper {
    width : 500px;
    margin-left : auto;
    margin-right:auto;
}

.text-container {
    width:80%;
    height:200px;
    background-color: beige;
    float : left;
}

.info {
    width:100%;
    height:40%;
    background-color: bisque;
}

.profile{
    width :20%; 
    height:auto;
    float:left;
}
.title {
    width : 80%;
    height:100%;
    color : black;
    display: block;
    float:left;
    box-sizing: border-box;
    padding:10px;
}


.content{
    width:100%;
    height:60%;
    background-color: rgb(133, 103, 67);
    clear:both;
}

.content p {
    padding:10px;
}
.image-container{
    width:20%;
    height:200px;
    float : left;
    background-color : black;
}

.nav-bar li{/*모든 자손 (자식의 자식 같은 것도 포함)*/
    display : inline-block;
    width:60px;
    text-align: center;
    background-color: #eee;
    padding : 10px;
    border-radius: 10px;
}

.nav-bar>li{ /*모든 직계 자신 (바로 밑에 있는 자식만)*/
    display : inline-block;
}

.nav-bar a {
    font-size: 20px;
    text-decoration: none;
    color : black;
}
