body{
    margin : 0;
}
.nav{
    width: 300px;
    background-color: black;
    color : white;
    height : 100vh;
    padding : 50px;
    position : fixed;
    z-index :999;
    text-align: right;
    transform: translateX(-250px);
    transition :all 1s;
}
.nav:hover{
    transform: translateX(0px);
    text-align: center;
}
@keyframes slide {
    0%{
        transform : translateX(-250px)
    }
    50%{
        transform : translateX(20px) skewX(-30deg)
    }
    100%{
        transform : translateX(0px)
    }
}
.nav .item{
    text-align: center;
}
.nav:hover .item {
    animation-name: slide;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}

.ani-text{
    padding : 100px;
    transform : rotate(10deg) translateX(100px) skew(30deg) scale(2) translate(500px, 200px);
}

.btn:hover{
    animation-name:move;
    animation-duration : 1s;
    /*애니메이션 이름을 name에
    애니메이션 동작시간을 duration에*/
    animation-timing-function : linear; /*베지어 주기*/
    /* animation-delay : 1s; 시작 전 딜레이 */
    animation-iteration-count : 3; /*몇회 반복할것인가*/
    animation-play-state: running;
    animation-fill-mode: forwards;  /*애니메이션 끝난 후에 원상복구 하지 말고 정지*/
    
}

@keyframes move {
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(100px);
    }
    100%{
        transform: translate(0px);
    }
}
.s-btn:hover {
    animation-name:shake;
    animation-duration : 1s;
}
@keyframes shake {
    0%{
        transform : rotate(0deg);
    }
    25%{
        transform : rotate(10deg);
    }
    50%{
        transform : rotate(-10deg);
    }
    75%{
        transform : rotate(10deg);
    }
    100%{
        transform : rotate(0deg);
    }
}
.cancle {
    background-color: transparent;
    border : none;
    font-size : 50px;
}
.cancle:hover{
    animation-name:x;
    animation-duration : 1s;
    animation-fill-mode: forwards;
}

@keyframes x {
    0%{
        transform : rotate(0deg);
    }
    25%{
        transform : rotate(-10deg);
    }
    50%{
        transform : rotate(45deg);
    }
    100% {
        transform: rotate(45deg) scale(2);
    }
}

