.pesudo::first-letter{
    color : red;
    font-size:30px;
}
.pesudo::first-line{
    color : blue;
    font-size:30px;
}
.pesudo::after{
    content : '안녕';
    color :red;
    font-size:30px;
}
.pesudo::before{
    content : '안녕';
    color :rgb(246, 250, 10);
    font-size:30px;
}
.container{
    background-color: aquamarine;
    width :80%;
}
.container::after{ /*가상의 요소(after)를 통해 float로 붕 뜬 요소를 clearboth 가능*/
    content:'';
    display : block;
    clear:both;
    float:none
}
.item {
    border : 1px solid black;
    float:left;
}
.input-file::file-selector-button{
    background-color: skyblue;
    border:none;
    padding:20px;
}

.input-file::file-selector-button:hover{
    background-color: blue;
}

/*-webkit : 크롬에서만 적용되는 스타일 (요즘 크롬, 사파리 엣지 에서 사*/
.input-file2::-webkit-file-upload-button { 
    background : black;
    color:white;
}

.input-file3{
    display: none;
}

input::-webkit-input-placeholder {
    color: red;
}
input[type=range] {
    appearance: none;
    -webkit-appearance: none; /*브라우저기본 css 안 보이게*/
}
input[type=range]::-webkit-slider-thumb{
    appearance: none; 
    -webkit-appearance: none; 
    background-color: red; 
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #ddd; /* 트랙 색 */
    height: 20px; /* 트랙 높이 */
}

progress {
    -webkit-appearance: none;
    -moz-appearance : none;
    appearance: none;
    background: white;
}

progress::-webkit-progress-bar {
    background-color: rgb(170, 73, 73);
    border-radius: 5px;;
}

progress::-webkit-progress-value {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}