@use 'reset'; /*다른 css 임포트*/

/*기본 css 문법*/
:root { 
    --main-color : red;
}
.box{
    background-color: var(--main-color);
}


/*SASS*/
$mainColor : #2a4cb2; /*$는 변수*/
$basicSize : 16px;

.background{
    background-color: $mainColor;
    font-size : ($basicSize * 5); /*사칙연산 가능*/
}
.small-font {
    font-size : $basicSize - 5px;
}

/* <<< nesting 문법과 원래 문법 >>>*/
/* 1. 원래문법*/
.main-bg h4 { 
    font-size:12px
}
.main-bg button{
    color : red;
}

/* 2. scss의 nesting 문법*/
.main-bg {
    h4 {
        font-size:16px;
    }
    button {
        color : red;
    }
}

/* <<< extend 문법!! >>>*/
%btn{ /*btn은 임시코드(단독으로 컴파일 안됨) : 기본 뼈대 코드를 넣어서*/
    width : 100px;
    height : 100px;
    padding : 20px;
}
.btn-green {
    @extend %btn; /*extend 해 사용*/
    color :green;
}

.btn-red {
    @extend %btn;
    color :red;
}

.bg {
    width : 200px;
    height: 200px;
    padding: 10px;
}

.bg-r { /*class도 extend 가능*/
    @extend .bg;
    background-color: red;
}

.bg-g { 
    @extend .bg;
    background-color: rgb(51, 255, 0);
}

.bg-b { 
    @extend .bg;
    background-color: rgb(98, 0, 255);
}

/*mixin*/
@mixin font-letter($font, $spacing){
    font-size:$font;
    #{$spacing} :30px;
}

h2 {
    @include font-letter(40px, letter-spacing);
    color : reset.$main; /*다른 파일에 있는 css변수 가져다 쓸 수 있음*/
}

h4{
    @include font-letter(20px , width)
}